* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.headingSupplier {
  display: flex;
  background: white;
}

.auth {
  padding: 30vh;
  background-color: #fafafa;
}


.auth h1 {
  display: flex;
  justify-content: center;
}

.auth button {
  display: block;
  margin: 32px auto;
}