# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

appPackage/build
package-lock.json
.gitignore
appPackage/outline2.png
bot/package-lock.json
tab/package-lock.json
bot/package-lock.json
tab/package-lock.json
