.dialog {
    background: #fff;
    padding: 0 10px;
}

.dialog_header {
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.dialog_form {
    max-width: 600px;
}

.dialog_text {
    align-items: center;
    margin-bottom: 5px;
}

.dialog_list {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
}

.dialog_listitem {
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.dialog_button {
    display: flex;
    justify-content: flex-end;
}

.dialog_attachment {
    padding-top: 10px;
    border-top: 1px solid #e8e7e5;
}